:root {
  --bg: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}
/* navbar */
/* rem satuan berdasarkan 16px */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 7%;
  background-color: var(--bg);
  border-bottom: 3px solid #6c6c6c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar-logo span {
  color: #fd0054;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #6c6c6c;
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #6c6c6c;
}

#menu {
  display: none;
}

/* main content */
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}

.main::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 3%,
    rgba(255, 255, 255, 0) 25%
  );
}

.main .content {
  padding: 7%;
}

.main .content h1 {
  line-height: 1.3;
  font-size: 3em;
  color: #fff;
  text-shadow: 5px 1px 3px rgba(1, 2, 1, 0.5);
}

.main .content p {
  font-size: 1rem;
  margin-top: 0.5 rem;
  line-height: 1.5;
  font-weight: 200;
  /* mix-blend-mode: difference; */
}

/* tentang */
.tentang,
.karya,
.kontak {
  padding: 8rem 7% 1.4rem;
}

.tentang h2,
.karya h2,
.kontak h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.tentang .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

/* .tentang .row .tentang-slide {
  text-align: center;
  padding-bottom: 3rem;
} */

/* .tentang .row .tentang-slide img {
  width: 75%;
  border-radius: 8px;
} */

.tentang .row h3 {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.tentang .row p,
.karya p,
.kontak p {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  font-weight: 200;
  text-align: center;
}

/* Karya */

.karya .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.karya .row .karya-card {
  text-align: center;
  padding-bottom: 3rem;
}

.karya .row .karya-card img {
  border-radius: 8px;
  width: 70%;
}

/* kontak */

.kontak .row {
  display: flex;
  margin-top: 2rem;
  background-color: #292929;
  border-radius: 1rem;
}

.kontak .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.kontak .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.kontak .row form .inputg {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #000000;
  border: 1px solid #eeeeee;
  padding-left: 2rem;
  border-radius: 1rem;
}

.kontak .row form .inputg input {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  background: none;
  color: #fff;
}

.kontak .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: #6c6c6c;
  cursor: pointer;
  border-radius: 1rem;
}

/* footer */
footer {
  background-color: #6c6c6c;
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer .sosmed {
  padding: 1rem 0;
}

footer .sosmed a {
  color: #fff;
  margin: 1rem;
}

footer .sosmed a:hover,
footer .link a:hover {
  color: #000000;
}

footer .link {
  margin-bottom: 1rem;
}

footer .link a {
  color: #eeeeee;
  padding: 0.7rem 1rem;
}

footer .credit span {
  color: #000000;
  font-weight: 600;
}

/* .hero .content .cta{
    margin-top: 1rem;
    display: inline-block;
    padding: 1 rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: #6c6c6c;
    border-raius: 0.5rem;
} */

/* Main Tablet */
@media (max-width: 1024px) {
  html {
    font-size: 80%;
  }
}

/* Main Mobile */
@media (max-width: 720px) {
  html {
    font-size: 70%;
  }
  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
  }

  .kontak .row {
    flex-wrap: wrap;
  }

  .kontak .row .map {
    height: 30rem;
  }

  .kontak .row form {
    padding-top: 0;
  }
}

/* slide */


.container {
  display: flex;
}

.slide {
  position: relative;
  margin: auto;
}

.fade {
  display: none;
}

img {
  vertical-align: middle;
  border-radius: 8px;
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: rgb(255, 254, 224);
  font-weight: bold;
  font-size: 18px;
  transition: 0.8 ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(120, 120, 120, 0);
  color: rgb(0, 0, 0);
}

@media screen and (max-widt: 800px) {
    .slide {
        padding: 8px 50px 12px 50px;
    }
    .next {
        right: 50px;
        border-radius: 3px 0 0 3px;
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

